<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>MyOrders</title>
<style type="text/css">
	td{
		text-align:center;
	
	}
	tr{
		padding-bottom: 10em;
	}
	body{
		padding:0px 100px 0px 100px;
		background-color: #f4f4f4;
}
	
</style>
</head>
<body>
     <div class="w3-container w3-light-blue">
        <h1 align="center">My Orders</h1>
        </div>
        <div data-ng-init="getOrdersView()">
		    <table class="w3-table-all w3-hoverable" >
			
				<thead style="background-color: #696763; font-size: 20px;">
							<tr class="w3-blue">
								<td colspan="2"><strong>Item Name</strong></td>
								<td><strong>Address</strong></td>
								<td><strong>TotalPrice</strong></td>
								<td><strong>Quantity</strong></td>
<!-- 								<td><button ng-click="getOrdersView()">click</button></td> -->
							</tr>
				</thead>
			
		    <tbody ng-repeat="item in order">
			  <tr>
			      <td><img src="Image/{{item.itemId}}.jpeg"
				alt="Image/{{item.itemId}}.jpeg" width="100px" height="100px" />
			<td class="w3-text-blue">{{item.itemName}}</td>
			<td>{{item.addressLine1}},{{item.addressLine2}}{{item.city}}{{item.state}}-{{item.pincode}}</td>
			<td>{{item.totalPrice}}</td>
			<td>{{item.quantity}}</td>
			</tr>
		    </tbody>

	</table>
	</div>
</body>
</html>