@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Fredericka+the+Great|Kranky|Paytone+One|Vast+Shadow');
body{
    
}
.container-fluid li h2{
    margin: 7px 20px 0px 60px;
    font-family: 'Vast Shadow', cursive;
}
.container-fluid li img{
    margin-right: 10px;
    
}
.cart{
margin-top: 10 px;
}@CHARSET "ISO-8859-1";

.brand {
	font-family: 'Josefin Slab', serif;
 font-size: 37px;
 font-weight: bold;
 color: #444;
 text-decoration: none;
}

/*****Styling carousel of home page******/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

/************** Styling home page ***********/
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Love+Ya+Like+A+Sister|Milonga');

 


#title{

		font-family: 'Love Ya Like A Sister', cursive;
		font-size	:30px;
}
#logout
{
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Averia Libre', cursive;
	font-size:20px;
	
}
#name{
		font-family: 'Love Ya Like A Sister', cursive;
		font-family: 'Averia Libre', cursive;
		font-family: 'Milonga', cursive;
		font-size: 20px;
		padding: 0px 20px 0px 0px;

}
